
.filter-side{
    display:grid;
    grid-auto-flow: row;
    justify-items: start;
    align-items: start;
    text-align: left;
}


.filter-side button{
    background-color:rgb(240, 244, 195) ;
    /* font-family: Goo; */
    cursor: pointer;
    height: 3rem;
    width: 25rem;
    /* width: 100%; */
    border: .5px solid rgb(220, 212, 212);
    line-height:1.25;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #202124;
    font-weight: bold;
    text-align: left;
    padding-left: 35px;
}
.filter-side button:hover{
    background-color:rgb(230, 231, 222) ;
    cursor: pointer;
    min-height: 3rem;
    min-width: 25rem;
    /* width: 100%; */
    border: .5px solid black;
    line-height:1.25;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #202124;
    font-weight: bold;
}