/* Default styles for all screen sizes */

.note-index {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.note-list {
    margin: 7rem;
    margin-top: 3em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.note-filter {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    align-items: normal;
    margin-inline-start: 1em;
    height: 4em;
    border-radius: .5em;
    width: 50em;
    background-color:#f1f3f4
    ;
}
.note-edit {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 3em;
    margin-inline-start: 20em;
    height: 4em;
    width: 45em;
    border-radius: .5em;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

/* Desktop Media Query (min-width: 1024px) */
@media screen and (max-width: 1760px) {
    .note-index {
        /* Example desktop styles */
        grid-template-columns: 2fr 5fr;
        /* Adjust column layout */
    }

    .note-list{
        /* margin: 7rem; */
        margin-top: 3em;
        display: grid;
        grid-template-rows:repeat(3,1fr);
        grid-template-columns:repeat(3,1fr);
        justify-items: start;
        /* margin-top: 2em; */
     }
    .note-filter {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 3em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
        background-color:#f1f3f4
        ;
    }
    .note-edit {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 20em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
    
    }
}
@media screen and (max-width: 1460px) {
    .note-index {
        /* Example desktop styles */
        grid-template-columns: 2fr 5fr;
        /* Adjust column layout */
    }

    .note-list{
        /* margin: 7rem; */
        margin-top: 3em;
        display: grid;
        grid-template-rows:repeat(2,1fr);
        grid-template-columns:repeat(2,1fr);
        justify-items: start;
        /* margin-top: 2em; */
     }
    .note-filter {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 3em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
        background-color:#f1f3f4
        ;
    }
    .note-edit {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 10em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
    
    }
}
@media screen and (max-width: 1260px) {
    .note-index {
        /* Example desktop styles */
        grid-template-columns: 2fr 5fr;
        /* Adjust column layout */
    }

    .note-list {
        /* Example desktop styles */
        margin: 4rem;
        /* Decrease margin */
    }
    .note-filter {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 3em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
        background-color:#f1f3f4
        ;
    }
    .note-edit {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 10em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
    
    }
}
@media screen and (max-width: 1090px) {
    .note-index {
        /* Example desktop styles */
        grid-template-columns: 2fr 5fr;
        /* Adjust column layout */
    }

    .note-list{
        /* margin: 7rem; */
        margin-top: 3em;
        display: grid;
        grid-template-rows:repeat(2,1fr);
        grid-template-columns:repeat(2,1fr);
        justify-items: start;
        /* margin-top: 2em; */
     }
    .note-filter {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 3em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
        background-color:#f1f3f4
        ;
    }
    .note-edit {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 8em;
        height: 4em;
        border-radius: .5em;
        width: 30em;
    
    }
}

/* Tablet Media Query (max-width: 1023px) */
@media screen and (max-width: 1023px) {
    .note-index {
        /* Example tablet styles */
        grid-template-columns: 1fr 2fr;
        /* Adjust column layout */
        height: auto;
        /* Allow content to determine height */
    }

    
    .note-filter {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 6em;
        height: 4em;
        border-radius: .5em;
        width: 15em;
        background-color:#f1f3f4
        ;
    }
    .note-list{
        /* margin: 7rem; */
        margin-top: 3em;
        display: grid;
        grid-template-rows:repeat(2,1fr);
        grid-template-columns:repeat(1,1fr);
        justify-items: start;
        /* margin-top: 2em; */
     }
    .note-edit {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 6em;
        height: 4em;
        border-radius: .5em;
        width: 15em;
        
    
    }
}

/* Mobile Media Query (max-width: 767px) */
@media screen and (max-width: 767px) {
    .note-index {
        /* Example mobile styles */
        grid-template-columns: 1fr;
        /* Single column layout */
        height: auto;
        /* Allow content to determine height */
    }

    .note-list{
        /* margin: 7rem; */
        margin-top: 3em;
        display: grid;
        grid-template-rows:repeat(1,1fr);
        grid-template-columns:repeat(1,1fr);
        justify-items: start;
        margin-inline-start: 1em;

        /* margin-top: 2em; */
     }
    .note-filter {
        margin-top: 3em;
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 1em;
        height: 4em;
        border-radius: .5em;
        width: 20em;
        background-color:#f1f3f4
        ;
    }
    .note-edit {
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        align-items: normal;
        margin-inline-start: 1em;
        height: 4em;
        border-radius: .5em;
        width: 20em;
        
    
    }
    .filter-side .sidebtn{
        background-color:rgb(240, 244, 195) ;
        /* font-family: Goo; */
        cursor: pointer;
        min-height: 3rem;
        width: 21rem;
        /* width: 100%; */
        border: .5px solid rgb(220, 212, 212);
        line-height:1.25;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: #202124;
        font-weight: bold;
    }
    .filter-side .sidebtn:hover{
        background-color:rgb(230, 231, 222) ;
        cursor: pointer;
        min-height: 3rem;
        min-width: 21rem;
        /* width: 100%; */
        border: .5px solid black;
        line-height:1.25;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: #202124;
        font-weight: bold;
    }
}