.note-filter {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    align-items: normal;
    margin-inline-start: 1em;
    height: 4em;
    border-radius: .5em;
    width: 50em;
    background-color:#f1f3f4
    ;
}

.filter-form {
    display: flex;
}

.input {
    gap: 10px;
}

.hidden {
    display: none;
}

.input {
    background: none;
    border: none;
    outline: none;
}

.search {
    background: none;
    border: none;
    outline: none;
}