.note-filter {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    align-items: normal;
    margin-top: 1em;
    margin-inline-start: 1em;
    height: 4em;
    border-radius: .5em;
    width: 50em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}.filter-form{
display: flex;}
.input{
    gap: 10px;
}
.hidden{
    display: none;
}

.input {
    background: none;
    border: none;
    outline: none;
}
.search {
    background: none;
    border: none;
    outline: none;
}
